# Railway / Local ENV
PORT=3000

# TikTok LIVE
TIKTOK_USERNAME=
# TIKTOK_SESSIONID=  # opsiyonel, daha stabil bağlantı için

# Oyun Ayarları – 1 JETON 1 TOPRAK kilitli
LIKE_PER_COIN=3
FOLLOW_REQUIRED=true
FOLLOW_BONUS=1
MAX_LAND=81

# Bot simülasyon
AUTO_BOT=true
AUTO_SPEED=1200
BOT_USERS=emirhan.exe,zeynep_23,burak Reis,Ayaz_34,elifsu,karadeniz61,mehmet_ank,pelin.q,gamerkurt,sultan_fatih,xXShadowXx,dilaraa,mertcan.06,busra_tiktok,efe_boss,nilay.ist
